{% embed '@SyliusShop/shared/accordion/accordion_item_title.html.twig' with {accordion_item_id: 'documents'} %}
    {% block accordion_item_title %}
        <span class="d-inline-flex align-items-center gap-2">
            {{ ux_icon('tabler:file-download', {width: '20', height: '20'}) }}
            {{ 'bitexpert.ui.download_documents'|trans }}
        </span>
    {% endblock %}
{% endembed %}
