{% set product = hookable_metadata.context.product %}

{% if product.productDocuments is defined and product.productDocuments is not empty %}
    <div class="accordion-item">
        {% hook 'documents' %}
    </div>
{% endif %}
