<button class="btn primary"
    {{ stimulus_controller('@sylius/admin-bundle/save-positions', {
        url: path('bitexpert_product_document_admin_document_type_update_positions'),
        csrfToken: sylius_csrf_protection_enabled() ? csrf_token('update-document-type-position') : null,
        inputSelector: '.bitexpert-document-type-position',
        dataKey: 'documentTypes',
    }) }}
    {{ stimulus_action('@sylius/admin-bundle/save-positions', 'submit') }}
>
    {{ ux_icon(action.icon|default('tabler:check'), {'class': 'icon dropdown-item-icon'}) }}
    {{ 'sylius.ui.save_positions'|trans }}
</button>
